.catalog-filter{
    width: 330px;
    height: 1069px;
}

.catalog-filter__heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

.catalog-filter__heading-list-numb{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
}

.catalog-filter__heading-btn{
    display: flex;
    gap: 11px;
    align-items: center;
    padding: 0;
}

.catalog-filter__heading-btn-desc{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
}

.catalog-filter__form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
}

.catalog-filter__form-group{
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    
}


.catalog-filter__inner{
    display: flex;
}

.catalog-filter__inner--column{
    flex-direction: column;
    gap: 16px;
}

.catalog-filter__form-group-name{
    margin-bottom: 16px;
}
