.catalog-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows:  repeat(2,47.777%);
	gap: 16px;
	width: 75%;
	margin: 18px 0 0;
	padding: 0;
	list-style: none;
}

.catalog-list__item{
	
}
