.catalog-filter{
    width: 330px;
}

.catalog-filter__heading{
    display: flex;
    width: 100%;
    gap: 116px;
    margin-bottom: 27px;
}

.catalog-filter__heading-list-numb{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
}

.catalog-filter__heading-btn{
    display: flex;
    gap: 11px;
    align-items: center;
    padding: 0;
}

.catalog-filter__heading-btn-desc{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
}

.catalog-filter__form{
    display: flex;
    width: 330px;
    flex-direction: column;
    gap: 23px;
    padding: 0;
}

.catalog-filter__form-group{
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;
}

.catalog-filter__mini-group{
    display: flex;
    flex-direction: column;
    gap: 38px;
}
.catalog-filter__inner{
    display: flex;
}

.catalog-filter__inner--column{
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 16px;
    max-height: 100px;
}

.catalog-filter__inner--column-min{
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 19px;
    max-height: 60px;
}

.catalog-filter__inner--grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}



.catalog-filter__inner--column-xl{
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 16px;
    height: 130px;
}

.catalog-filter__form-group-name{
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
    margin-bottom: 15px;
}
