.catalog-filter{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 0;
}

.catalog-filter__heading{
    display: flex;
    width: 100%;
    gap: 116px;
    margin-bottom: 4px; 
}

.catalog-filter__heading-list-numb{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
}

.catalog-filter__heading-btn{
    display: flex;
    gap: 11px;
    align-items: center;
    padding: 0;
}

.catalog-filter__heading-btn-desc{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
}

.catalog-filter__heading-btn:hover{
    color:#AD8361;
}

.catalog-filter__form-group{
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;
}

.catalog-filter__form-group--grid .catalog-filter__form-group-name {
    margin-bottom: 17px;
}

.catalog-filter__mini-group{
    display: flex;
    flex-direction: column;
    gap: 39px;
}
.catalog-filter__inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.catalog-filter__inner--foure-size{
    grid-template-columns: repeat(4,1fr);

}

.catalog-filter__inner--five-size{
    grid-template-columns: repeat(5,1fr);
}

.catalog-filter__inner--grid-flat{
    grid-template-columns: repeat(2,1fr);
}

.catalog-filter__inner--column{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 16px 5px;
    grid-auto-flow: column;
}

.catalog-filter__inner--column-min{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 16px 5px;
    grid-auto-flow: column;
}

.catalog-filter__inner--column-maxmin{
    grid-template-columns: repeat(2,1fr);
    gap: 16px 5px;
}

.catalog-filter__inner--column-xl{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 16px 5px;
    grid-auto-flow: column;
}


.catalog-filter__form-group-name{
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
    margin-bottom: 15px;
}

.catalog-filter__form-btn-aside{
    position: absolute;
    right: -56%;
    top: 31.888%;
}


.catalog-filter-secondary-btn{
    position: absolute;
    right: -56%;
    top: 31.888%;
    display: none;
}

.catalog-filter-secondary-btn--active{
    display: block;
}


