.catalog-heading{
    display: flex;
    justify-content: space-between;
}

.catalog-heading__list-numb{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
}

.catalog-heading__btn{
    display: flex;
    gap: 11px;
    align-items: center;
    padding: 0;
}

.catalog-heading__btn-desc{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
}