.custom-radio{
    width: 100%;
    display: flex;
    
}

.custom-radio__field:focus-visible + .custom-radio__label {
    background-color: rgba(239, 237, 231, 1);
}

.custom-radio__field:checked + .custom-radio__label{
    background-color: #AD8361;
    color: #fff;
}

.custom-radio:last-child>.custom-radio__label{
    border-right: 1px solid rgba(173, 131, 97, 1);
}

.custom-radio--xl{
    grid-column: -3/-1;

}

.custom-radio--xl .custom-radio__label{
    border-top: none;
}

.custom-radio__label--border{
    border-right: 1px solid rgba(173, 131, 97, 1);
}

.custom-radio__label{
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    border-bottom: 1px solid rgba(173, 131, 97, 1);
    border-top: 1px solid rgba(173, 131, 97, 1);
    border-left: 1px solid rgba(173, 131, 97, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color:#AD8361;
    padding: 5px 0;
    cursor: pointer;
}


.custom-radio__label:hover{
    color: rgba(9, 9, 9, 1);
}



.custom-radio__field:disabled + .custom-radio__label{
    border: 1px solid rgba(173, 131, 97, 0.5);
    background-color: rgba(243, 243, 243, 0.5);
    color: rgba(173, 131, 97, 0.5);

}
