.custom-input{
    position: relative;
}

.custom-input__field{
    border: none;
    border-bottom: 1px solid rgba(9, 9, 9, 0.15);
    background: transparent;
    padding-top: 18px;
    width: 100%;
}

.custom-input__field::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
}

.custom-input__label-text{
    position: absolute;
    font-family: inherit;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
    top: -16px;
    left: 0;
}

.custom-input__label-icon{
    position: absolute;
    right: 0;
    bottom: 5px;
    color: #AD8361;
}