.custom-radio{
    width: 100%;
    display: flex;
    
}

.custom-radio:last-child>.custom-radio__label{
    border-right: 1px solid rgba(173, 131, 97, 1);
}

.custom-radio--xl{
    grid-column: -3/-1;

}

.custom-radio--xl .custom-radio__label{
    border-top: none;
}

.custom-radio__label--border{
    border-right: 1px solid rgba(173, 131, 97, 1);
}


.custom-radio__field{
}

.custom-radio__label{
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    border-bottom: 1px solid rgba(173, 131, 97, 1);
    border-top: 1px solid rgba(173, 131, 97, 1);
    border-left: 1px solid rgba(173, 131, 97, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color:#AD8361;
    padding: 5px 0;
    cursor: pointer;
}


